.cell{
    margin-top: 1rem;
}
.showMoreSearchButtons{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.gridResults{
    display:grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-gap: 1rem;
    justify-content:center;

}
.gridButtons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    justify-content:center;
}
.buttonMore{
    margin: auto;
    grid-column:2;
}
.buttonLess{
    margin: auto;
    grid-column:3;
}


